<template>
  <g class="tanana-text-na-1">
    <path class="fill-grey" d="M8102.66 2202.77c125.58,157.35 188.32,365.82 188.32,625.57l0 1272.79c0,37.53 -12.99,68.6 -38.96,93.08 -25.98,24.54 -56.28,36.8 -90.91,36.8 -37.53,0 -68.6,-12.26 -93.08,-36.8 -24.54,-24.48 -36.77,-55.51 -36.77,-93.08l0 -1259.8c0,-187.59 -46.96,-339.84 -140.73,-456.73 -93.81,-116.89 -238.84,-175.33 -435.05,-175.33 -124.15,0 -241.77,28.87 -352.83,86.58 -111.16,57.75 -201.34,134.94 -270.58,231.61 -69.27,96.71 -103.9,201.31 -103.9,313.87l0 1259.8c0,37.53 -12.32,68.6 -36.8,93.08 -24.54,24.54 -55.61,36.8 -93.08,36.8 -37.53,0 -68.6,-12.26 -93.08,-36.8 -24.54,-24.48 -36.8,-55.51 -36.8,-93.08l0 -1939.49c0,-37.46 12.26,-68.53 36.8,-93.08 24.48,-24.48 55.55,-36.8 93.08,-36.8 37.46,0 68.53,12.32 93.08,36.8 24.48,24.54 36.8,55.61 36.8,93.08l0 238.11c77.93,-124.05 189.72,-227.28 335.48,-309.54 145.73,-82.26 295.05,-123.38 448.07,-123.38 268.44,0 465.42,78.69 590.94,235.94z"/>
    <path class="fill-grey" d="M10860.34 2057.74c24.48,25.98 36.8,57.75 36.8,95.24l0 1948.15c0,37.53 -12.32,68.6 -36.8,93.08 -24.54,24.54 -55.58,36.8 -93.08,36.8 -37.53,0 -68.6,-12.26 -93.08,-36.8 -24.54,-24.48 -36.77,-55.51 -36.77,-93.08l0 -290.06c-72.2,129.88 -180.43,239.57 -324.69,329.02 -144.36,89.51 -301.65,134.21 -471.88,134.21 -193.42,0 -367.32,-50.45 -521.67,-151.52 -154.45,-101 -275.64,-239.54 -363.65,-415.6 -88.12,-176 -132.07,-373.74 -132.07,-593.1 0,-219.29 44.72,-416.27 134.21,-590.94 89.45,-174.6 211.4,-310.94 365.82,-409.11 154.35,-98.07 325.39,-147.19 512.98,-147.19 173.17,0 331.88,41.89 476.25,125.55 144.26,83.75 252.49,193.42 324.69,329.02l0 -268.41c0,-37.46 12.22,-69.27 36.77,-95.24 24.48,-25.98 55.55,-38.96 93.08,-38.96 37.53,0 68.53,12.99 93.11,38.96zm-588.77 1855.07c119.75,-79.32 213.56,-188.99 281.4,-329.02 67.77,-139.97 101.74,-296.55 101.74,-469.72 0,-167.34 -33.97,-320.36 -101.74,-458.9 -67.84,-138.53 -161.65,-247.46 -281.4,-326.86 -119.82,-79.36 -254.72,-119.05 -404.78,-119.05 -150.09,0 -285.06,38.96 -404.75,116.89 -119.82,77.93 -213.63,185.49 -281.4,322.53 -67.84,137.14 -101.77,292.22 -101.77,465.39 0,173.17 33.17,329.75 99.57,469.72 66.37,140.03 159.45,249.7 279.23,329.02 119.75,79.42 256.09,119.05 409.11,119.05 150.06,0 284.96,-39.63 404.78,-119.05z"/>
  </g>
</template>

<style>
.fill-none {
  fill:none;
}
.fill-grey {
  fill: var(--color-grey);
}
</style>
