<template>
  <g class="tanana-text-ta">
    <path class="fill-grey" d="M2827.61 2269.88l0 1450.29c0,109.7 20.15,183.99 60.61,222.95 40.39,38.96 93.74,58.44 160.21,58.44 17.32,0 38.96,-3.56 64.9,-10.82 25.98,-7.16 46.16,-10.82 60.61,-10.82 25.98,0 48.29,10.82 67.1,32.47 18.75,21.65 28.17,46.96 28.17,75.76 0,40.46 -23.14,74.33 -69.27,101.74 -46.22,27.47 -101.07,41.13 -164.51,41.13 -77.93,0 -147.19,-7.16 -207.8,-21.65 -60.58,-14.42 -119.02,-57.71 -175.33,-129.88 -56.25,-72.13 -84.42,-187.59 -84.42,-346.34l0 -1463.28 -316 0c-34.63,0 -64.27,-11.49 -88.75,-34.63 -24.54,-23.04 -36.8,-51.95 -36.8,-86.58 0,-34.63 12.26,-63.47 36.8,-86.58 24.48,-23.08 54.12,-34.63 88.75,-34.63l316 0 0 -480.54c0,-37.46 12.26,-68.53 36.8,-93.08 24.48,-24.48 55.51,-36.8 93.08,-36.8 37.46,0 68.53,12.32 93.08,36.8 24.48,24.54 36.77,55.61 36.77,93.08l0 480.54 432.92 0c31.74,0 59.88,12.99 84.42,38.96 24.48,25.98 36.8,54.85 36.8,86.58 0,34.63 -11.59,62.77 -34.63,84.42 -23.11,21.65 -51.98,32.47 -86.62,32.47l-432.89 0z"/>
    <path class="fill-grey" d="M5751.93 2057.74c24.48,25.98 36.8,57.75 36.8,95.24l0 1948.15c0,37.53 -12.32,68.6 -36.8,93.08 -24.54,24.54 -55.58,36.8 -93.08,36.8 -37.53,0 -68.6,-12.26 -93.08,-36.8 -24.54,-24.48 -36.77,-55.51 -36.77,-93.08l0 -290.06c-72.2,129.88 -180.43,239.57 -324.69,329.02 -144.36,89.51 -301.65,134.21 -471.88,134.21 -193.42,0 -367.32,-50.45 -521.67,-151.52 -154.45,-101 -275.64,-239.54 -363.65,-415.6 -88.12,-176 -132.07,-373.74 -132.07,-593.1 0,-219.29 44.72,-416.27 134.21,-590.94 89.45,-174.6 211.4,-310.94 365.82,-409.11 154.35,-98.07 325.39,-147.19 512.98,-147.19 173.17,0 331.88,41.89 476.25,125.55 144.26,83.75 252.49,193.42 324.69,329.02l0 -268.41c0,-37.46 12.22,-69.27 36.77,-95.24 24.48,-25.98 55.55,-38.96 93.08,-38.96 37.53,0 68.57,12.99 93.11,38.96zm-588.74 1855.07c119.75,-79.32 213.56,-188.99 281.4,-329.02 67.77,-139.97 101.74,-296.55 101.74,-469.72 0,-167.34 -33.97,-320.36 -101.74,-458.9 -67.84,-138.53 -161.65,-247.46 -281.4,-326.86 -119.82,-79.36 -254.72,-119.05 -404.78,-119.05 -150.09,0 -285.06,38.96 -404.75,116.89 -119.82,77.93 -213.63,185.49 -281.4,322.53 -67.84,137.14 -101.77,292.22 -101.77,465.39 0,173.17 33.17,329.75 99.57,469.72 66.37,140.03 159.45,249.7 279.23,329.02 119.75,79.42 256.09,119.05 409.11,119.05 150.02,0 284.96,-39.63 404.78,-119.05z"/>
  </g>
</template>

<style>
.fill-none {
  fill:none;
}
.fill-grey {
  fill: var(--color-grey);
}
</style>
