<template>
  <div class="download-container">
    <label for="input-url">Digite a URL do arquivo: </label>
    <input type="text" v-model="url" id="input-url">
  </div>
</template>

<script>
import debounce from 'debounce'

export default {
  name: 'DownloadXML',
  data () {
    return {
      url: ''
    }
  },
  methods: {
    async downloadFile () {
      this.$store.dispatch('loading/start')
      try {
        const res = await fetch(this.url)
        const xmlData = await res.text()
        this.$store.dispatch('file/updateFileContent', {
          xmlData
        })
      } catch (err) {
      }
    }
  },
  created: function () {
    this.debouncedDownload = debounce(this.downloadFile, 500)
  },
  watch: {
    url (newValue, oldValue) {
      if (oldValue === newValue || newValue === '') return
      this.debouncedDownload()
    }
  }
}
</script>

<style scoped>
input {
  background: none;
  border: solid var(--color-grey) 2px;
  border-radius: var(--border-radius);
  padding: 0.2em;
}
.download-container {
  background: var(--color-yellow);
  padding: var(--padding-box);
  border-radius: var(--border-radius);
}
</style>
