<template>
  <div>
    <label class="input-file-container">
      <span class="label-text">Escolha um arquivo: </span>
      <span class="selected-file">{{ selectedFile }}</span>
      <input type="file" name="file" @change="updateFile">
    </label>
  </div>
</template>

<script>
export default {
  name: 'FileSelector',
  data () {
    return {
      selectedFile: 'Nenhum arquivo selecionado'
    }
  },
  methods: {
    updateFile (e) {
      const selectedFile = e.target.files[0]
      this.$store.dispatch('file/updateFile', {
        file: selectedFile
      })
      this.$set(this, 'selectedFile', selectedFile.name)
    }
  }
}
</script>

<style scoped>
.input-file-container {
  background: var(--color-green);
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-text {
  color: var(--color-grey);
}

.input-file-container [type=file] {
  /* from https://coderwall.com/p/uer3ow/total-input-type-file-style-control-with-pure-css */
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  /* otherwise the cursor pointer would not work */
  z-index: -10;
}

.selected-file {
  font-weight: normal;
}
</style>
