<template>
  <div class="header">
    <h1>
      <FullLogo class="title-logo"/>
      <!-- <img src="@/assets/logo.svg" alt="tananã" class="title-logo"> -->
      <span class="upper-text">web</span>
    </h1>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. In elementis mé pra quem é amistosis quis leo.
    </p>
  </div>
</template>

<script>
import FullLogo from './logo/FullLogo'

export default {
  name: 'Header',
  components: {
    FullLogo
  }
}
</script>

<style scoped>
  h1 {
    --logo-height: 2em;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: var(--logo-height);
    margin: 0.5em auto;
  }
  .title-logo {
    height: var(--logo-height);
    width: calc(4 * var(--logo-height));
  }
  .upper-text {
    margin-top: calc(0.1 * var(--logo-height));
  }
  p {
    margin: 0 auto;
    max-width: 800px;
  }
  .header {
    margin-bottom: 2em;
  }
</style>
