<template>
  <div class="player-container">
    <tanana-player :music-xml="file" v-if="showPlayer"/>
    <div class="placeholder" v-else-if="!loading">Aguardando dados da Partitura</div>
    <Loader v-if="loading"/>
  </div>
</template>

<script>
import Loader from './Loader'

import {
  mapGetters,
  mapState
} from 'vuex'

export default {
  name: 'Player',
  components: {
    Loader
  },
  computed: {
    ...mapState({
      loading: ({ loading }) => loading.loading,
      file: ({ file }) => file.data
    }),
    ...mapGetters({
      showPlayer: 'loading/finished'
    })
  }
}
</script>

<style scoped>
.player-container {
  margin: 2em auto 0;
  width: var(--sheet-width);
}
.placeholder {
  text-align: center;
}
</style>
