<template>
  <div class="selector">
    <FileSelector/>
    <p>ou</p>
    <DownloadXML/>
  </div>
</template>

<script>
import FileSelector from './FileSelector.vue'
import DownloadXML from './DownloadXML.vue'

export default {
  name: 'XMLSelector',
  components: {
    FileSelector,
    DownloadXML
  }
}
</script>

<style scoped>
.selector {
  margin: 0 auto;
  width: var(--box-size);
}
p {
  text-align: center;
}
</style>
