<template>
  <div id="app">
    <Header/>
    <XMLSelector/>
    <Player/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import XMLSelector from './components/XMLSelector.vue'
import Player from './components/Player.vue'

export default {
  name: 'App',
  components: {
    Header,
    XMLSelector,
    Player
  },
  mounted () {
    window.addEventListener('keydown', (ev) => {
      if (ev.keyCode === 32) { // space
        // prevent space from scroll down and pressing buttons
        document.activeElement.blur()
        ev.preventDefault()
        /* eslint-disable no-undef */
        if (tananaPlayerStore.state.playing) tananaPlayerStore.pauseAction()
        else tananaPlayerStore.playAction()
      } else if (ev.keyCode === 27) { // esc
        document.activeElement.blur()
        tananaPlayerStore.endAction()
      }
      /* eslint-enable no-undef */
    })
  }
}
</script>

<style>
@font-face {
  font-family: 'ABeeZee';
  font-style: italic;
  font-weight: 400;
  src: local('ABeeZee Italic'), local('ABeeZee-Italic'), url(./assets/font/ABeeZee-Italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(./assets/font/ABeeZee-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#app {
  display: grid;
  font-family: ABeeZee, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454343;
  --color-grey: #454343;
  --color-blue: #3757a8;
  --color-green: #28bfba;
  --color-purple: #765da9;
  --color-red: #e15b64;
  --color-yellow: #fcd562;
  --box-size: 300px;
  --border-radius: 3px;
  --padding-box: 0.5em;
  --sheet-width: 95vw;
}
@media (min-width: 900px) {
  #app {
    --box-size: 500px;
  }
}

label {
  font-weight: 600;
}
</style>
